<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scrippstagram</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </html>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      </div>
      <div class="navbar-container">
        <div class="navbar-header">
          <div class="nav-brand">
            <%= link_to "Scrippstagram", root_path %>
          </div>
          <ul class="nav navbar-nav">  
            <li>
            
              <%= link_to "New Post", new_post_path %>
            </li>
            <li>
              <%= link_to "About", '#' %>
            </li>
            <li>
              <%= link_to "Register", '#' %>
            </li>
          </ul? 
        </div>
        </div>
      </div>
    </nav>

  
  </head>

  <body>
    <%= yield %>

    
  </body>

 








     
